[workspace]
resolver = "2"
members = [
    "tig-challenges",
    "tig-algorithms",
]

[workspace.package]
version = "0.1.0"
edition = "2021"
license = "MIT"

[profile.release]
lto = true
codegen-units = 1
opt-level = 3
